__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.git/
.gitignore
.dockerignore
/root/Projects/itc/week_05_ass/api/.python-version
/root/Projects/itc/week_05_ass/api/.python-version
/root/Projects/itc/week_05_ass/api/uv.lock
/root/Projects/itc/week_05_ass/api/pyproject.toml
.pytest_cache/
.coverage
htmlcov/
.DS_Store
